<div class="main-top">
  <div class="room-detail">
  room's detail
  </div>

  <div class="end-button">
  <a href="#">Exit the room</a>
  </div>

</div>

<div class="main-messages">
<%# *********ここで一つのコメント************ %>
  <div class="message">
    <div class="chat-content">
        <div class="main-user-name">
          Name
        </div>
        <div class="chat-time">
        time
        </div>
    </div>

    <div class="chat-text">
    hello world
    </div>
  </div>
<%# ****************************************** %>

<%# *********ここで一つのコメント************ %>
  <div class="message">
    <div class="chat-content">
        <div class="main-user-name">
          Tom
        </div>
        <div class="chat-time">
        2020/2/11(Thu)14:00
        </div>
    </div>

    <div class="chat-text">
    hello world
    </div>
  </div>
<%# ****************************************** %>
</div>

<div class="form">
  <div class="form-content">
     <input class="form-type" placeholder= "type a message" >
     <label class="form-image">
       <span class="image-file">画像</span>
       <input type="file" class="hidden">
     </label>
  </div>
  <div class="form-send">
    <input class="form-button" type="submit" value="送信">
  </div>

</div>