<div class="side-top">
  <div class="user-name">
   <a href="#">Tom</a>
  </div>

  <div class="new-chat">
  <a href="#">make a chat</a>
  </div>

</div>

<div class="side-tables">
  <div class="side-table">
    <div class="room-name">
      <a href="#">room1</a>
    </div>
  </div>
  <div class="side-table">
    <div class="room-name">
      <a href="#">room2</a>
    </div>
  </div>

</div>